@import url(variables.css);

.btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.btn:hover::before {
    opacity: 1;
}

.btn-text {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-button {
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

@media (max-width: 767px) {
    .d-inline-flex.flex-wrap .btn {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .btn-text {
        font-size: 3rem;
    }
}