.btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.btn:hover::before {
    opacity: 1;
}

.btn-text {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    .d-inline-flex.flex-wrap .btn {
        width: 100%;
    }
}