@media (max-width: 767px) {
    .d-inline-flex.flex-wrap .btn {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .btn-text {
        font-size: 3rem;
    }
}

/* Posicionamento da navegação responsiva acima do carrossel */
@media (max-width: 991.98px) {
    .navbar-custom {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .carousel.carousel-custom {
        margin-top: 56px;
        /* Altura da navegação responsiva */
    }
}

/* Estilos para carrossel em dispositivos móveis */
@media (max-width: 767px) {
    .carousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* Define a altura máxima vertical */
        overflow: hidden;
        /* Oculta o overflow */
    }