@import url(variables.css);

/* Posicionamento da navegação responsiva acima do carrossel */
@media (max-width: 992px) {
    .navbar-custom {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

}


.nav-link:hover,
.dropdown-item:hover,
.nav-link:active {
    color: var(--yellow-dark);
}


.navbar-toggler {
    color: var(--bkg-dark);
}