/* Posicionamento da navegação responsiva acima do carrossel */
@media (max-width: 991.98px) {
    .navbar-custom {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .carousel.carousel-custom {
        margin-top: 56px;
        /* Altura da navegação responsiva */
    }
}