@import url(variables.css);

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.infoText {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.display-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--yellow-dark);
    text-transform: uppercase;
}

.display-6 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--off-white);
    text-transform: uppercase;
}

.lead {
    padding-bottom: .5rem;
    text-transform: uppercase;
    font-size: .7rem;
    color: var(--off-white);
}



.arrow-icon,
#photo,
#retoucher {
    position: absolute;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    color: var(--off-white);
    z-index: 99;
}

#photo {
    font-size: 5rem;
    opacity: .5;
    top: 85%;
    left: 50%;
}

#retoucher {
    font-size: 2.9rem;
    text-transform: uppercase;
    top: 90%;
    left: 50%;
    color: var(--yellow-pale);
}

.arrow-icon {
    font-size: 2.5rem;
    top: 70%;
    left: 50%;
}